/* .header {
  height: 120px;
	position: relative;
	margin-bottom: 150px;
} */

/* .wrapper {
	min-height: 100%;
} */
/* .wrapper__content {
	position: relative;
    height: 100%;
} */

/* .wrapper__content--main {
  background: url("../../img/Background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
	position: absolute;
	width: 1920px;
	height: 1202px;
	left: 0px;
	top: 0px;
} */

/* .hello__title {
	font-size: 72px;
	font-weight: bold;
	line-height: 1.1;
	margin-bottom: 18px;
} */

/* .hello__text {
	font-size: 18px;
	color: #FFFFFF;
} */